always_filter called? <strong>[% always_filter ? 'Yes' : 'No' %]</strong>
<br>
index_only_filter called? <strong>[% index_only_filter ? 'Yes' : 'No' %]</strong>
<br>
not_index_filter called? <strong>[% not_index_filter ? 'Yes' : 'No' %]</strong>
